.Navigation {
	padding: 0 30px;
	background: var(--box-back);
	width: fit-content;
	border-radius: 50px;
	position: fixed;
	left: 50%;
	height: 48px;
	top: 20px;
	transform: translate(-50%);
	ul {
		display: flex;
		list-style: none;
		gap: 35px;
		line-height: 48px;
	}
}
