.Navigation {
	padding: 0 30px;
	background: var(--box-back);
	width: fit-content;
	border-radius: 50px;
	position: fixed;
	left: 50%;
	height: 48px;
	top: 20px;
	transform: translate(-50%);
	ul {
		display: flex;
		list-style: none;
		gap: 35px;
		line-height: 48px;
	}
}

@media all and (max-width: 900px) {
	.Navigation {
		padding: 15px;
		width: 100%;
		border-radius: 0;
		position: fixed;
		left: 0;
		height: 100vh;
		height: 100dvh;
		top: -150%;
		overflow: hidden;
		background: var(--darkblue-glass);
		transform: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 5;
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		transition: all 0.3s;

		ul {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 22px;
		}

		&.show {
			top: 0;
		}
	}
}
