header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 25px 0;
	z-index: 3;

	.header__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.header__burger {
		display: none;
	}
}

@media all and (max-width: 900px) {
	header {
		padding: 15px 0;
		.header__contact {
			display: none;
		}

		.header__burger {
			display: flex;
			position: relative;
			z-index: 10;
		}
	}
}
