.hero {
	&__wrapper {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		height: 100vh;
		height: 100dvh;
		position: relative;
		gap: 30px;

		&::before {
			content: "";
			display: block;
			z-index: 1;
			position: absolute;
			background: url("/icons/ABECT-back.svg") center center / contain no-repeat;
			height: 27vh;
			width: 100%;
			left: 0;
			top: 18vh;
		}
	}

	&__item {
		max-width: 430px;
		width: 100%;
		margin-bottom: 8vh;
		position: relative;
		z-index: 2;
	}

	&--image {
		height: 86vh;
		margin-bottom: 0;
		aspect-ratio: 1/1.5;
		background: url("/image/woomen.png") center 0 / contain no-repeat;
	}

	&--text {
		ul {
			text-align: right;
			list-style: none;
			font-size: 32px;
			text-transform: uppercase;
			font-weight: 600;
		}

		li:last-child {
			font-size: 50px;
			font-weight: 400;
			color: #a8d3ff;
		}
	}

	&--chat {
		min-height: 240px;
		border-radius: 20px;
		display: flex;
		gap: 10px;
		flex-direction: column;
		z-index: 1;
		justify-content: space-between;

		&__content {
			display: flex;
			flex-direction: column;
			gap: 10px;
			max-height: 420px;
			overflow: auto;
			position: relative;
		}

		&.chat__content-shadow {
			box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.5);
		}

		&__content::-webkit-scrollbar {
			background: transparent;
			width: 4px;
		}

		&__content::-webkit-scrollbar-thumb {
			background: var(--box-back);
			border-radius: 10px;
		}

		&__message {
			background: var(--box-back);
			padding: 10px;
			border-radius: 15px;
			max-width: 80%;
			min-height: 40px;
			font-size: 0.9rem;
			flex-shrink: 0;
		}

		.user--message {
			margin-left: auto;
		}

		form {
			display: flex;
			align-items: center;
			gap: 10px;
		}

		button {
			background:
				url("/icons/plane.svg") center center / auto 50% no-repeat,
				var(--dark-orange);
			border-radius: 15px;
			height: 38px;
			flex-shrink: 0;
			width: 64px;
			border: none;
			cursor: pointer;
		}

		input {
			background: var(--box-back);
			display: block;
			width: 100%;
			height: 38px;
			border-radius: 15px;
			border: none;
			outline: none;
			padding: 0 10px;
			font-size: 1rem;
			color: var(--white);
		}
	}
}
