/* src/globals.css */
:root {
	--white: #ffffff;
	--darkblue: #121f28;
	--dark-orange: #1a0b05;
	--box-back: rgba(61, 75, 86, 0.5);
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #ffffff;
}

* {
	font-family: var(--font-victor-mono), Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	max-width: 1400px;
	padding: 0 15px;
	margin: 0 auto;
}

.background {
	height: 100vh;
	height: 100dvh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	background: url("/icons/linear-back.svg") 0 0 / cover;
}

.logo {
	height: 38px;
}

.btn {
	height: 38px;
	padding: 0 35px;
	text-transform: uppercase;
	color: var(--white);
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.75);
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.2s;
	font-weight: 600;
}

.btn:hover {
	background: var(--box-back);
}
